@mixin init_page_button($init_position, $name){

  @keyframes #{$name} {
    from{
      left: $init_position;
    }
    to{
      left: 0;
    }
  }
  
  animation: $name 0.4s ease-in;
  
}

.big-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  height: 100vh;
  width: 100vw;
  button {
    transition: all 0.5s;
    padding: 45px 20px;
    width: 200px;
    height: 150px;
    font-weight: 700;
    font-size: 30px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;

    position: relative;

    
    &:nth-child(odd){
      @include init_page_button(50%, to_left);
    }
    &:nth-child(even){
      @include init_page_button(-50%, to_right);
    }

    &:nth-child(3) {
      background: #98e7a4;
    }
    &:nth-child(4) {
      background: #c1dbf0;
    }
    &:nth-child(5) {
      background: rgba(255, 186, 97, 0.65);
    }
    &:nth-child(6) {
      background: #f18dd8a6;
    }

    &:disabled {
      cursor: no-drop;
      color: white;
      background: rgb(117, 117, 117);
    }


    &:hover {
			width: 250px;
			height: 200px;
		}
  }
}

.not {
  button {
		
    &:nth-child(1) {
      background: #98e7a4;
    }

    &:nth-child(2) {
			background: #c1dbf0;
    }
  }
}
